.customNav{
    background-image: linear-gradient(#F6AA1C 0%, #F7B53B 50%, #F6AA1C);
    color: white;
}
:any-link {
    color: #220901 ;   
    font-variant: small-caps;
}
:any-link:visited {
    color: #220901
}
.title{
    text-shadow: 2px 2px #B07507;
    word-wrap: break-word;
}
.navBarStandard{
    height: 48px;
}

