.profCard{
    width: 40vw;
    color: #220901;
}
.card-body {
    background-color: #BC3908; 
    border: 2px solid #F6AA1C;
}

#zeroMarginHere .card-body {
    margin: 0px !important;
}
.card-text{
    color:white;
}

.card-title{
    color: #220901;
    font-size: x-large;
    font: outline;
}

.profpic{
    border: 2px solid #F6AA1C
}
