
.btn {
    margin: 3% !important;
    background-color: #F6AA1C !important;
    border-color: #941B0C !important;
    color: #A82A0A !important;
    display: inline-block !important;
}

.card-body{
    margin: 20px
}
.icons {
    display: inline-block;
    padding: 3%;
    justify-content: space-between !important;
}